package {{ .APIName | toLower }}usecase

type {{ .APIName | toTitle }}Usecase struct {
	// Add dependencies here
}

func New{{ .APIName | toTitle }}Usecase() *{{ .APIName | toTitle }}Usecase {
	return &{{ .APIName | toTitle }}Usecase{
		// Initialize dependencies here
	}
}
