package {{ .APIName | toLower }}api

import (
	{{ .APIName | toLower }}delivery "skeleton/internal/api/{{ .APIName | toLower }}/delivery"

	"github.com/go-chi/chi/v5"
)

func RegisterRoutes(router chi.Router, etcHandler {{ .APIName | toLower }}delivery.{{ .APIName | toTitle }}Handler) {
	// Define your routes here
}
