package {{ .DomainName | toLower }}repository

import "skeleton/pkg/logger"

type {{ .DomainName | toTitle }}Repository struct {
	logger *logger.Logger
}

func New{{ .DomainName | toTitle }}Repository(
	logger *logger.Logger,
) *{{ .DomainName | toTitle }}Repository {
	return &{{ .DomainName | toTitle }}Repository{
		logger: logger,
	}
}
