package {{ .DomainName | toLower }}usecase

import "skeleton/pkg/logger"

type {{ .DomainName | toTitle }}Usecase struct {
	logger *logger.Logger
}

func New{{ .DomainName | toTitle }}Usecase(
	logger *logger.Logger,
) *{{ .DomainName | toTitle }}Usecase {
	return &{{ .DomainName | toTitle }}Usecase{
		logger: logger,
	}
}
