package {{ .APIName | toLower }}repository

type {{ .APIName | toTitle }}Repository struct {
	// Add dependencies here
}

func New{{ .APIName | toTitle }}Repository() *{{ .APIName | toTitle }}Repository {
	return &{{ .APIName | toTitle }}Repository{
		// Initialize dependencies here
	}
}
